!!! XML
!!!
%html
  %head
    = javascript_include_tag :defaults
    = javascript_include_tag 'json', 'juggernaut/juggernaut', 'juggernaut/jquerynaut', 'juggernaut/swfobject'
    = juggernaut
  %body
    #main
      #content_for_layout= yield
